table, th, td {
	border: 1px solid black;
}

th, td {
	padding: 15px;
}

td {
	padding-left: 16px;
	background: #d8eff2;
}

th{
	background: #f3f5cb;
}


table{
	margin-top: 3vh;
	margin-bottom: 3vh;
	margin-left:auto; 
	margin-right:auto;
	width: 40%;
}

#arraylistmethods{
	margin-top: 3vh;
	margin-bottom: 3vh;
	margin-left:auto; 
	margin-right:auto;
	width: 70%;
}