.maincontent{
	background-image: linear-gradient(to bottom right, #012e67, #9cacbf, #2b6684,#032e42,#0a1417);
	background-size: 400% 400%;
	animation: gradient 12s ease infinite;
}

@keyframes gradient{
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.navbar{
	position: relative;
	max-height: 0; 
	transition: 4s ease; 
}

.navbar:hover{
	max-height: 300px; 
	transition: 1s ease; 
}

#titlebox{
	display: block;
	font-family: "Exo 2", "raleway";
	font-size: 8vw;
	color: white;
	text-align: center;
	vertical-align: middle;
	text-shadow: 2px 2px 5px #1f4d4a;
	transition: 0.5s;
}

#small{
	font-weight: bold;
	font-size:2vw;
}

#centerthis:hover{	
	transform: scale(1.2);
	transition: 0.5s;
	margin-left: 170px;
	margin-right: 13vw;
}

.text{
	padding-top: 20px;
	padding-bottom:50px;
	position: absolute;
	display: block;
	font-size:1vw;
	color: white;
	width:100%;
	text-align: center;
}

.text:hover ~ .navbar{
	max-height: 300px; 
	transition: 1s ease;
}

#centerthis{
	margin-top:33vh;
	margin-bottom:20%;
	transition: 0.5s;
	
}