#grid{
	margin-top: 10vh;
	width: 90%;
	margin-left: auto;
}

#column{	
	display:inline-block;
	width: 23%;
	height: auto;
	background: #bec0cc;
	padding: 1em;
	margin-right:50px;
	transition:0.5s;
}

#grid > div > img{
	object-fit: contain;
}

a{
	text-decoration: none;
	color: #2a2e2b;
}

a:hover{
	text-decoration: underline;
}

#column:hover{
	background: #a7a9b5;
	transition:0.5s;
	transform: scale(1.1);
}


.contactLinks{
	text-align: center;
	font-size: 1.3vw;
	padding-top:2vh;
}