dl {
	margin-top: 3vh;
	font-family: "Raleway";
	text-align: left;
	clear: both;
	margin-left: 7vw;
	margin-right: 7vw;
	padding: 40px;

	line-height: 2rem;
	background-color:#f8fce1;
	background-clip: border-box;
}

dt{
	font-size: 1.3vw;
	font-weight: bold;
	display: list-item;
	color: #000080;
	list-style-type: circle;
}

dd{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 3vw;
	display: list-item;
	list-style-type: circle;
}